<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h1>Çağrıyı Düzenle</h1>

		<%= render 'form' %>

		<%= link_to 'Göster', @ticket %> | <%= link_to 'Geri', tickets_path %>

	</div>
</div>
